#map-content {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .text-clt{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #6B6B6B;
  }
  .title-clt{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 51px;
  line-height: 76px;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  color: #40A2D5;
  }
  .black-clt{
    color: #6B6B6B;
    margin: 7px;
      text-decoration: none;
  }
  .container-clt{
    margin: 1% 10%;
  }
  .bold-clt{
    font-weight:bold;
  }
  .map-icon-clients{
    width: 2rem;
  }
  
  
  
  @media (max-width: 450px){
    .slider{
      height: 40vh;
  }
  .slider figure img{
      height: 40vh;
  }
  .slider h2{
      top: 31%;
  }
  .slider h2 {
    font-size: 3rem;
    text-align: center;
  }
  .principal h1{
    font-size: 3rem;
  }
  .text-clt{
    font-size: 15px;
  }
  .title-clt{
    line-height: 1.3;
    font-size: 31px;
  }
  #map{
    width: 97%;
  }
  }