/* Apply default styling to form elements */

.Login h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
.Login  input[type="text"],
  input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
.Login  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
.Login  input[type="submit"]:hover {
    background-color: #45a049;
  }
  